.search {
    margin-top: 24px;
}

.search__input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.search__button {
    width: 64px;
    height: 64px;
}

.search__input {
    padding: 8px 16px;
    font-size: 2rem;
    line-height: 2.5rem;
    background-color: rgba(186, 192, 167, 0.7);
    border: 2px solid black;
    border-radius: 16px;
}

.recent-recepies {
    margin: 64px 0;
    padding: 32px;
    background-color: rgba(18, 14, 16, 0.85);
    border-radius: 16px;
}

.recent-recepies__headline-container {
    margin-bottom: 16px;
}

.recent-recepies__headline {
    font-size: 3rem;
    line-height: 3.5rem;
    color: white;
}

.recent-recepies__recipies_container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.recent-recepies__recipies_container > .recipe-preview {
    flex: 1;
}

.recipe-preview {
    max-width: 468px;
    padding: 32px;
    background-color: rgba(186, 192, 167, 0.7);
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.25) inset;
    border-radius: 16px;
}

.recipe-preview__headline-container {
    margin-bottom: 16px;
}

.recipe-preview__headline {
    font-size: 2.5rem;
    line-height: 3rem;
    color: black;
    text-transform: uppercase;
}

.recipe-preview__recipe-illustration-container {
    height: 280px;
    border-radius: 16px;
    background-color: #fff;
}

.add-recipes__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.add-recipes__button {
    width: 399px;
    padding: 8px 16px;
    font-size: 2rem;
    line-height: 2.5rem;
    background-color: rgba(186, 192, 167, 0.7);
    border: 2px solid black;
    border-radius: 16px;
}