.search {
    margin-top: 24px;
}

.search__input-container {
    margin: 0 auto;
}

.search__input {
    padding: 8px 16px;
    width: 100%;
    font-size: var(--doubled-font-size);
    line-height: var(--doubled-line-height);
    background-color: var(--primary-background-color);
    border: 2px solid var(--primary-border-color);
    border-radius: var(--doubled-border-radius);
}

.add-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.add-recipes__button-container {
    width: 100%;
}

.add-recipes__button {
    width: 100%;
    display: inline-block;
    text-align: center;
}

@media (min-width: 1024px) {
    .search__input-container,
    .add-recipes__button-container {
        max-width: 400px;
    }
}