@keyframes buttons-appearance {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.welcome {
    padding-top: 64px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

.welcome__project-description-container {
    padding: 32px;
    max-width: 645px;
    color: var(--secondary-text-color);
    background-color: var(--secondary-background-color);
    border-radius: var(--primary-border-radius);
}

.welcome__project-name {
    margin-bottom: 16px;
    font-size: var(--trippled-font-size);
    line-height: var(--trippled-line-height);
}

.welcome__project-description {
    font-size: var(--doubled-font-size);
    line-height: var(--doubled-line-height);
}

.welcome__buttons-container  {
    margin-top: 180px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 92px;
    align-items: flex-start;
    animation: buttons-appearance .5s ease-out;
}

.welcome__button-container {
    position: relative;
}

.welcome__button-container::before {
    position: absolute;
    content: "";
    background-image: url("/assets/images/arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
}

.welcome__button-container:first-of-type:before {
    top: -216px;
    right: 20%;
    width: 240px;
    height: 240px;
    transform: scaleX(-1) translateX(-50%);
}

.welcome__button-container:last-of-type:before {
    top: -240px;
    right: 90%;
    width: 320px;
    height: 320px;
    transform: translateX(50%);
}

.start-cooking,
.load-config {
    position: relative;
    padding: 16px;
    font-size: var(--doubled-font-size);
    line-height: var(--doubled-line-height);
    border-radius: var(--doubled-border-radius);
    background-color: var(--primary-background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--primary-text-color);
    box-shadow: 4px 4px 4px 0 var(--primary-box-shadow-color) inset;
    cursor: pointer;
    z-index: 100;
}

.load-config {
    margin-top: 32px;
}