#page {
    height: 100dvh;
    background-image: url('/assets/images/welcome-illustration.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#content-wrapper {
    margin: 0 auto;
    padding: 24px;
    max-width: var(--max-page-width);
}