@font-face {
    font-family: "PaperCuts2";
    src: url('/assets/fonts/PaperCuts2.ttf') format('truetype');
}

:root {
    --primary-font-size: 16px;
    --doubled-font-size: calc(var(--primary-font-size) * 2);
    --trippled-font-size: calc(var(--primary-font-size) * 3);

    --primary-line-height: 24px;
    --doubled-line-height: calc(var(--primary-line-height) * 2);
    --trippled-line-height: calc(var(--primary-line-height) * 3);

    --primary-background-color: rgba(186, 192, 167, 0.7);
    --secondary-background-color: rgba(18, 14, 16, 0.85);

    --primary-text-color: #000;
    --secondary-text-color: #fff;
    
    --primary-border-radius: 8px;
    --doubled-border-radius: calc(var(--primary-border-radius) * 2);
    --primary-border-color: #000;

    --primary-box-shadow-color: rgba(0, 0, 0, 0.25);

    --max-page-width: 1600px;
}

* {
    font-family: "PaperCuts2", "serif";
    font-weight: 400;
    font-size: var(--primary-font-size);
    line-height: var(--primary-line-height);
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}